
Castlevania/assets/data/data-goes-here\.txt

Castlevania/assets/images/images-go-here\.txt

Castlevania/assets/music/music-goes-here\.txt

Castlevania/assets/sounds/sounds-go-here\.txt

Castlevania/export/windows/neko/bin/assets/data/data-goes-here\.txt

Castlevania/export/windows/neko/bin/assets/images/images-go-here\.txt

Castlevania/export/windows/neko/bin/assets/music/music-goes-here\.txt

Castlevania/export/windows/neko/bin/assets/sounds/sounds-go-here\.txt
